/*  CSS site zzchat
*	Noel Martignoni
*	01/10/13
*/

body {
  	font-family: Avenir, Tahoma, Geneva, Kalimati, sans-serif;
	color: #414141;
	
	background-color: white;
	margin: auto;
	width: 100%;
	min-height: 600px;
    text-align:center;
    background-color: #e4e4e4;
    font-size:0.9em;
    min-width:1280px;
}

header {
	width: 100%;
	color: #4e7caf;
	background-color: #e4e4e4;
	padding-bottom:0.5%;
}

#allpage
{
	padding-top:2%;
	padding-bottom:2%;
	width: 100%;
	background-color: #fff;
}

#page
{
	margin: auto;
	width: 80%;
}

#lang {
	float:right;
	padding-right:10%;
}

#log {
	width:50%;
	margin-left:10%;
}

#error {
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom:15px;
	color: red;
	font-weight: bold;
}

section {
	border: 1px solid #fff;
	margin-bottom:10px;
	width: 60%;
	color: #fff;	
	background-color: #4e7caf;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	min-height:500px;
}

#messages {
	min-height:350px;
}

menu {
	margin: 0;
	padding:0;
	padding-bottom:10px;
	float: right;
	width: 28%;
	margin-bottom: 10px;
	background-color: #fff;
	color: #414141;
	border-top: 5px solid #e4e4e4;
	border-bottom: 5px solid #e4e4e4;
}

menu.ul {
	width:100%;
	margin: 0;
}

footer {
	clear: both;
	width: 100%;
	color: #4e7caf;
	background-color: #e4e4e4;
	padding-top:1%;
	padding-bottom:1%;
}

h1 {
	font-size:2em;
	color: #4e7caf;
}

h2 {
	padding-top: 5px;
	margin:0;
	margin-bottom: 4%;
	font-size:1.5em;
	color: #4e7caf;
}

h3 {
	color: white;
	font-size:2em;
}

/* liste online user */

ul.online {
	margin:0;
	padding:0;
}

ul.online li {
	transition: background-color 0.3s ease-out, color 0.3s ease-out;
	margin-bottom: 5px;
	height:30px;
}

ul.online li:hover, ul.online li.selected {
	color: #ffffff;
	background-color: #4e7caf;
}

ul.online a {
	line-height:30px;
	transition: color 0.1s ease;
	text-decoration : none;
	color: #414141;
	vertical-align:middle;
	display:block;
}

ul.online a:hover, ul.online li.selected a {
	color: #fff;
}


/* message */

#user {
	font-weight : bold;
}

#message {
	margin:0;
	padding:0;
}

#date {
	font-style : italic;
	font-size:0.7em;
}

ul {
}

li {
	list-style-type:none;
}

li.mymessage {
	border-right: 1px solid white;
	padding-right:2%;
	width:60%;
	padding-left: 40%;
	text-align: right;
	margin-bottom:10px;
}

li.othermessage {
	border-left: 1px solid white;
	padding-left:2%;
	width:60%;
	text-align: left;
	margin-bottom:10px;
}

/* register form */

#register label {
    display: block;
    float: left;
    width: 40%;
}

#register input[type=submit] {
	margin:auto;
	margin-top:20px;
	width:100%;
}


#register input[type=text], #register input[type=password] {
	margin:auto;
	width: 50%;
	margin-bottom: 10px;
}

/* Message form */

textarea {
 	padding:5px;
 	border:1px solid #4e7caf;
 	border-radius:0px;
 	width:95%;
 	max-width:95%;
 	max-height:10em;
 	margin-bottom:10px;
 	margin-top: 40px;
 	font-size: 1em;
 	font-family: Avenir, Tahoma, Geneva, Kalimati, sans-serif;
}

form {
	text-align: left;
}

input[type=submit], input[type=reset] {
	transition: color 0.3s ease, background-color 0.3s ease;
 	width:100px;
 	height:22px;
 	margin:0;
 	padding:0;
 	margin-top:5px;
 	margin-left:5px;
 	box-shadow:0px 0px 0px #f00;
 	cursor:pointer;
 	color: #414141;
 	background-color: #fff;
 	border: 1px solid #4e7caf;
}

input[type=submit]:hover, input[type=reset]:hover {
 	background-color: #4e7caf;
 	color: #fff;
 	border: 1px solid #fff;
}

input[type=text], input[type=password] {
 	width:100px;
 	height:20px;
 	margin-left:1%;
 	margin-right:1%;
 	color: #414141;
 	background-color: #fff;
 	border: 1px solid #4e7caf;
}

select {	
	transition: color 0.3s ease, background-color 0.3s ease;
	width:100px;
	height:20px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #4e7caf;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	text-indent: 10px;
}

select:hover {
	background-color: #4e7caf;
 	color: #fff;
 	border: 1px solid #fff;
}

input[type=submit].send, input[type=reset] {
 	width:95%;
 	cursor:pointer;
 	margin-bottom:10px;
 	border: 1px solid #fff;
}

/* Shapes */

#talkbubbleRight {
   	width: 40%; 
   	background: white;
   	position: relative;
   	-moz-border-radius:    0px; 
   	-webkit-border-radius: 0px; 
   	border-radius:         0px;
   	margin-top: 0px;
   	margin-bottom: 0px;
   	color: #414141;
   	font-size: 1em;
   	padding:10px;
   	float:right;
   	margin-left:30%;
   	margin-bottom: 5px;
   	text-align: justify;
}
#talkbubbleRight:before {
   	content:"";
   	position: absolute;
   	left: 100%;
   	top: 20px;
   	width: 0;
   	height: 0;
   	border-top: 13px solid transparent;
   	border-left: 26px solid white;
   	border-bottom: 13px solid transparent;
}

#talkbubbleLeft {
   	width: 40%; 
   	background: white;
   	position: relative;
   	-moz-border-radius:    0px; 
   	-webkit-border-radius: 0px; 
   	border-radius:         0px;
   	margin-top: 0px;
   	margin-bottom: 0px;
   	color: #414141;
   	font-size: 1em;
   	padding:10px;
   	margin-bottom: 5px;
   	text-align: justify;
   	clear: right;
}
#talkbubbleLeft:before {
   	content:"";
   	position: absolute;
   	right: 100%;
   	top: 20px;
   	width: 0;
   	height: 0;
   	border-top: 13px solid transparent;
   	border-right: 26px solid white;
   	border-bottom: 13px solid transparent;
}

#talkbubble {
 	width: 40%; 
   	height: 100px; 
   	background: white;
   	position: relative;
   	-moz-border-radius:    0px; 
   	-webkit-border-radius: 0px; 
   	border-radius:         0px;
   	margin-top: 50px;
   	margin-bottom: 20px;
   	color: #414141;
   	font-size: 2em;
   	padding:20px;
}
#talkbubble:before {
   	content:"";
   	position: absolute;
   	right: 100%;
   	top: 37px;
   	width: 0;
   	height: 0;
   	border-top: 13px solid transparent;
   	border-right: 26px solid white;
   	border-bottom: 13px solid transparent;
}

#talkbubble2 {
   	width: 40%; 
   	height: 100px; 
   	background: white;
   	position: relative;
   	-moz-border-radius:    0px; 
   	-webkit-border-radius: 0px; 
   	border-radius:         0px;
   	float:right;
   	color: #414141;
   	font-size: 2em;
   	padding:20px;
}
#talkbubble2:before {
   	content:"";
   	position: absolute;
   	left: 100%;
   	top: 37px;
   	width: 0;
   	height: 0;
   	border-top: 13px solid transparent;
   	border-left: 26px solid white;
   	border-bottom: 13px solid transparent;
}